<h1>PoEMarkets Admin</h1>
<p><%= link_to "Manage Leagues", admin_leagues_path %></p>
<p><%= link_to "Manage Forums", admin_forums_path %></p>
<p><%= link_to "Manage Currency Ratios", admin_currency_ratios_path %></p>